:root{
    font-size: 100%;
    font-family: 'Space Grotesk', sans-serif;
}


body{
    max-width: 100vw;
    background-color: lightgrey;
    
}

#main{
    width: 1440px;
    height: 900px;
    background-color:#f2f2f2;
}

#card{
    position: absolute;
    top: 11.6875rem;
    left: 10.25rem;
}

#month{
    position: absolute;
    top: 195px;
    left: 12px;
}

#cvc{
    position: absolute;
    top: 195px;
    left: 279px;
    width: 191px;
    height: 45px;
}

#year{
    position: absolute;
    top: 195px;
    left: 109px;
}

#code{
    position: absolute;
    top: 174px;
    left: 284px;
}

fieldset{
    border: none;
}

#background{
    position: absolute;
}

form{
    position: absolute;
    top: 17.1875rem;
    left: 52rem;
    width: 381px;
    height: 352px;
}

#field1, #field2, #field3 {
    display: flex;
    flex-direction: column;
}

#field4{
    display: flex;
    flex-direction: row;
}

#back-card{
    display: flex;
    flex-direction: row;
}
fieldset{
    display: flex;
}

label{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    color: #21092F
}

::placeholder{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.4375rem;
}

#cardholder, #card-number{
    width: 381px;
    height: 45px;
    box-sizing: border-box;
    border: 0.0625rem solid #DFDEE0;
    border-radius: 0.5rem;
}

#month, #year, #cvc{
    width: 80px;
    height: 45px;
    border: 1px solid #DFDEE0;
    border-radius: 8px ;
}



button{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #ffff;
    background-color: #21092F;
    padding: 0.9375rem 9.75rem;
    border-radius: 0.5rem;
    margin-top: 3.625rem;

}

.error{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: #FF5050;
}
